<h2>{{title}}</h2>
<div class="events-datail">

  <div class="times">
    {{#each times}}
      <div>{{this.label}} {{this.startTime}}-{{this.endTime}} {{this.available}}</div>
    {{/each}}
  </div>

  <div class="times">
    {{#each events}}
      <div>{{this.available}} {{this.startTime}}-{{this.endTime}}</div>
    {{/each}}
  </div>

</div>
