<h2>{{title}}</h2>
<div class="events-datail">

  <div class="times">
    {{#each times}}
      <div>
        <div class="time header {{#if this.label}}hour{{/if}}">
          {{this.label}}
        </div>
        <div
          class="time {{#if this.available}}available{{/if}} {{#if this.booked}}booked{{/if}} {{#if this.label}}hour{{/if}}">
        </div>
      </div>
    {{/each}}
  </div>

  <div class="event">
    {{#each events}}
      <div>{{this.id}} {{this.available}} {{this.startTime}}-{{this.endTime}}</div>
    {{/each}}
  </div>

</div>
