<div class="calendar-buttons">
  <a href="/?y={{prevYear}}&m={{prevMonth}}">&lt;</a>
  <span class="month">{{title}}</span>
  <a href="/?y={{nextYear}}&m={{nextMonth}}">&gt;</a>
</div>

<div class="calendar-container">
  {{#each dayHeaders}}
    <div class="calendar-item calendar-header {{#if this.weekend}}weekend{{/if}}">{{this.name}}</div>
  {{/each}}
  {{#each days}}
    <div class="calendar-item {{#if this.isCurrentMonth}}current{{/if}}">
      <div>{{this.day}}</div>
      <div class="calendar-item-link">{{#if this.available}}<a
            href="/events/{{this.year}}/{{this.month}}/{{this.day}}">◯</a>{{/if}}</div>
    </div>
  {{/each}}
</div>
